@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/breakpoint' as *;

.heading {
  margin-bottom: $spacing-10;
}

.submit-button,
.inline-loading-container {
  justify-self: flex-end;
}

.last-grid-col {
  @include breakpoint-down('md') {
    margin-top: var(--cds-grid-gutter);
  }
}
